<div class="dashboard">
  <div class="user">
    <div class="name"><%= current_user.name || 'No Name' %></div>
    <div class="points"><em><%= current_user.points || 0 %></em> points</div>
  </div>

  <div class="achievements">
    
    <div class="heading">
      <h2>Your recent achievements</h2>
      <%= form_tag refresh_achievements_path do %>
        <%= submit_tag 'Refresh achievements' %>
      <% end %>
    </div>
    
    <ul>
      <% if @achievements.empty? %>
        <p>No achievements - click the refresh button if you've done something</p>
      <% else %>
        <% for achievement in @achievements %>
          <li>
            <%= image_tag "#{achievement.source}.png" %>
            <div class="points">+<%= achievement.points %></div>
            <div class="text">
              <div class="action"><%= humanize_action(achievement.action) %></div>
              <div class="description"><%= achievement.description %></div>
            </div>
            <% if achievement.timestamp.present? %>
              <div class="timestamp">about <%= time_ago_in_words(achievement.timestamp) %> ago</div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  <div class="leaderboard">
    <div class="heading">Leaderboard</div>
    <% if @leadboard_users.empty? %>
      No users with points
    <% else %>
      <ol>
        <% for user in @leadboard_users %>
          <li><%= user.name %> (<%= user.points %> points)</li>
        <% end %>
      </ol>
    <% end %>
  </div>

  <div class="clear"></div>
</div>