<%= form_for current_user, :url => user_path, :method => :put do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  
  <%= f.submit 'Update' %>
<% end %>