<%= form_tag settings_path, :method => :put do %>
  
  <p>
    <%= label_tag 'Zendesk username: ' %>
    <%= text_field_tag 'setting_zendesk_username', current_user.settings.find_by_source_and_key('zendesk', 'username').try(:value) %><br />
    <%= label_tag 'Zendesk password: ' %>
    <%= password_field_tag 'setting_zendesk_password', current_user.settings.find_by_source_and_key('zendesk', 'password').try(:value) %><br />
    <%= label_tag 'Zendesk subdomain: ' %>
    <%= text_field_tag 'setting_zendesk_subdomain', current_user.settings.find_by_source_and_key('zendesk', 'subdomain').try(:value) %><br />
    <%= label_tag 'Zendesk SSL: ' %>
    <%= text_field_tag 'setting_zendesk_ssl', current_user.settings.find_by_source_and_key('zendesk', 'ssl').try(:value) %><br />
  </p>

  <p>
    <%= label_tag 'Podio username: ' %>
    <%= text_field_tag 'setting_podio_username', current_user.settings.find_by_source_and_key('podio', 'username').try(:value) %><br />
    <%= label_tag 'Podio password: ' %>
    <%= password_field_tag 'setting_podio_password', current_user.settings.find_by_source_and_key('podio', 'password').try(:value) %><br />
  </p>

  <p><%= submit_tag 'Update' %></p>
<% end %>