<!DOCTYPE html>
<html>
<head>
  <title>WorkQuest</title>
  <%= stylesheet_link_tag 'base', :media => 'all' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <h1>WorkQuest</h1>
  <hr />
  <%= link_to 'Profile', edit_user_path %>
  <%= link_to 'Settings', edit_settings_path %>

  <%= show_flash_messages(flash) %>

  <%= yield %>

</body>
</html>
